html, body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

header, footer {
  width: 100%;
  background-color: #5c555e;
  color: white;
  text-transform: lowercase;
  font-weight: lighter;
}

footer {
  position: fixed;
  bottom: 0;
  height: 1.5em;
  margin-top: 2em;
  text-align: center;
}

p a {
  text-decoration: underline;
}

ul li {
  list-style: none;
}

header a:hover, footer a:hover, header a:focus, footer a:focus {
  text-decoration: underline;
}

header #logo {
  display: inline-block;
  width: 70%;
  padding: 1% 0% 0% 2.5%;
  font-size: 2em;
}

header nav {
  display: inline-block;
}

a#skipNav {
  color: #5c555e;
  position: absolute;
  top: 0;
  left: 0;
}

a#skipNav:focus, a#skipNav:hover {
  color: white;
}

#mainContent {
  min-height: 60vh;
}

#mainContent a:hover, #mainContent a:focus {
  color: #f6558b;
}

#networkVisContainer {
  height: 120vh;
  padding: 2% 7.5% 5%;
}

.justText {
  padding: 15vh 19vw;
  line-height: 1.75em;
  font-size: 1.5em;
}
